<div class="search-container">
  <label for="typeahead-basic">Search for content by Media Title or Description:</label>
  <input id="typeahead-basic" type="text" class="form-control" [ngbTypeahead]="search" [resultFormatter]="formatter"
         [inputFormatter]="inputValFormatter" (selectItem)="onSearchItemSelection($event)"/>
</div>


<!-- <div class="flexsearch">
    <label for="typeahead-basic">Search for content by Media Title or Description:</label>
		<div class="flexsearch--wrapper">
			<form class="flexsearch--form">
				<div class="flexsearch--input-wrapper">
          <input class="form-control flexsearch--input" type="search" placeholder="search" id="typeahead-basic" [ngbTypeahead]="search" [resultFormatter]="formatter" [inputFormatter]="inputValFormatter" (selectItem)="onSearchItemSelection($event)" />
				</div>
			</form>
		</div>
</div> -->
<!-- <div class="table-container">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Post ID</th>
      <th>First Content Title</th>
      <th>First Content Description</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let post of postList; let i = index">
      <tr>
        <td scope="row" (click)="onPostIdClick($event)">{{post?._id}}</td>
        <td scope="row">{{ post?.content[0]?.userMediaTitle}}</td>
        <td scope="row">{{ post?.content[0]?.userMediaDescription}}</td>
      </tr>
    </ng-container>
    </tbody>
  </table>
</div> -->

<div class="your-post">
  Your Posts:
</div>

<div class="post-container">
  <ng-container *ngFor="let post of postList; let i = index">
    <!-- <img src="assets/cards1/{{i+1}}.jpg"> -->
    <img [src]="post.content[0].mediaObj" alt="Image preview...">
    <div class="postLink" id="postid" (click)="onPostIdClick($event)">{{post?._id}}</div>
  </ng-container>
</div>

<div class="recommendations">
  Recommendations:
</div>

<div class="recommendation-container">
  <ng-container *ngFor="let post of postList; let i = index">
    <img src="assets/cards2/{{i+1}}.jpg">
  </ng-container>
</div>
