<div class="login-container bg-secondary">
  <div class="login-form-container">
    <div class="alert-container">
      <ngb-alert *ngIf="loginSuccess" type="success">Login Success!</ngb-alert>
      <ngb-alert *ngIf="loginFailure" (close)="loginFailure = false" type="danger">{{loginFailureMessage}}</ngb-alert>
    </div>
    <form #loginForm="ngForm">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" aria-describedby="usernameHelp"
               placeholder="Enter Username" [(ngModel)]="credentials.username" [required]="true" minlength="3"
               name="username">
        <small id="usernameHelp" class="form-text text-muted">Please Enter your username</small>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Password" [required]="true"
               [(ngModel)]="credentials.password" minlength="1" name="password">
      </div>
      <div class="button-container">
        <button type="submit" class="btn btn-primary" (click)="login()" [disabled]="!loginForm.form.valid">Login
        </button>
      </div>
    </form>
  </div>
</div>
