


<div class="userprofile">
  <img src="user-default-pic.jpg" alt="user" style="width:20%">
  <br/>
  <h1>Name</h1>

  <label for="Username">Username</label>
  <input type="text" class="Username" id="username" placeholder="username">
  <br/>

  <label for="Email">Email</label>
  <input type="text" class="Email" id="email" placeholder="email">
  <br/>

  <label for="Password">Password</label>
  <input type="text" class="Password" id="password" placeholder="*****">
  <br/>

  <label for="Phone">Phone</label>
  <input type="text" class="Phone" id="phone" placeholder="(***)***-****">
  <br/>
  <br/>

  <button>Update</button>
</div>