<html>
<div>
  <button (click)="add()">Add Content</button>
  <button (click)="addPostWithContentArray()">Add Post</button>
</div>
<div id="content">
  <div id="contentInside" *ngFor="let container of containers; index as i">
    <div id="embedded">
      <!-- Image -->
      
      <div *ngIf="showContainerInputs[i]">
        <label> Upload image: </label>
        <span style="color:red;" *ngIf="message">{{message}}</span>
        <input #file type="file" accept='image/*' (change)="previewImage(file.files, i)"/>
      </div>
      <img *ngIf="imageUrlArray[i]" [src]="imageUrlArray[i]" height="200">


      <!-- Video -->
      <div *ngIf="showContainerInputs[i]">
        Youtube Video Full Link: <input type="text" #linkInput/>
        <button (click)="submitVideo(linkInput.value, i)">Submit</button>
      </div>
      <div *ngIf="youtubeLinksArray[i]" id="youtubeContainer">
        <youtube-player *ngIf="youtubeLinksArray[i]"
                        [videoId]="youtubeLinksArray[i]"
                        (ready)="savePlayer($event)"
                        (change)="onStateChange($event)"
                        [playerVars]="">
        </youtube-player>
      </div>

      <!-- PDF -->
      <div *ngIf="showContainerInputs[i]">
        <label> Upload PDF: </label>
        <input (change)="previewPDF($event, i)" accept='application/pdf' type="file" id="file">
      </div>
      <div *ngIf="pdfIdArray[i]" id="pdf-viewer-container">
        <pdf-viewer [src]="pdfIdArray[i]"
                    [render-text]="true"
                    [page]="1"
                    [show-all]="false"
        >
        </pdf-viewer>
      </div>
    </div>
    <div id="texts">
      <p>
        Media Title:
      <input class="media-title" type="text" [(ngModel)]="this.titleAndDescriptions[i].title"/>
      </p>
    
       <p>
        Media Description:
        <textarea class="media-description" cols="88" rows="15" [(ngModel)]="this.titleAndDescriptions[i].description"></textarea>
      </p>
    </div>
  </div>
</div>

</html>
