<div>
    <button (click)="add()">Add</button>
</div>
<div id="content">
    <div id="contentInside" *ngFor="let container of containers">
        <div id="embedded">
                <!-- <input type="file" (change) = "onFileSelected($event)"> -->
            <span style="color:red;" *ngIf="message">{{message}}</span>
            <input #file type="file" accept='image/*' (change)="previewImage(file.files)" />
            <img [src]="imageURL" height="200" *ngIf="imageURL">

            <div>
                Youtube Video ID: <input type="text" [(ngModel)]="videoId" />
                <button (click)="submitVideo(videoId)" >Submit</button>
            </div>
            
            <div id="youtubeContainer" [hidden]="id == null">
                <youtube-player *ngIf="id != null"
                    [videoId]="id"
                    (ready)="savePlayer($event)"
                    (change)="onStateChange($event)"
                    [playerVars]="playerVars">
                </youtube-player>
            </div>
            
        </div>
        <div id="texts">
                Text
                <input type="text" />
        </div>
    </div>
</div>