<html>
<div id="content">
  <div id="contentInside" *ngFor="let container of contentArray; index as i">
    <!-- <div id="text-title"> -->
      <!-- <pre>Title:</pre>{{container.userMediaTitle}} -->
    <!-- </div> -->
    <!-- <div id="content-display"> -->
      <!-- Image -->
      <div id="embedded" *ngIf="container.mediaType.includes('image/')">
        <img [src]="container.mediaObj" alt="Image preview...">
      </div>

      <div id="pdfEmbed" *ngIf="container.mediaType == 'application/pdf'">
        <!-- <img src="" height="200" alt="Image preview..." (ready)="previewFile(container)"> -->

        <pdf-viewer [src]="container.mediaObj"
                    [render-text]="true"
                    [page]="1"
                    [show-all]="false"
        >
        </pdf-viewer>
      </div>

      <!-- Video -->
      <div id="youtubeContainer" *ngIf="container.mediaType == 'LinkID'">
          <youtube-player
            [videoId]="container.mediaObj"
            [playerVars]="">
          </youtube-player>
        </div>

      <div id="texts">

          <div id="text-title">
             <!-- <pre>Title:</pre>{{container.userMediaTitle}} -->
             {{container.userMediaTitle}}
          </div>
    
          <div id="text-desc">
           <!-- <pre>Description:</pre>{{container.userMediaDescription}} -->
           {{container.userMediaDescription}}

          </div>
    
        <!-- </div> -->
      </div>
      <!-- PDF -->
      
      
      
    </div>

    
</div>


<!--<input id="browse" type="file" onchange="previewFiles()" multiple>-->
<!-- <div id="preview"></div> -->

</html>

