<p>viewing works!</p>

<div class="app-example-params">
    <h2>routeParams</h2>
    <pre>{{ routeParams|json }}</pre>

    <h2>queryParams</h2>
    <pre>{{ queryParams|json }}</pre>
</div>


<div id="content">
    <div id="contentInside" *ngFor="let container of contentArray; index as i">
        <div id="imageImbed" *ngIf="container.mediaType == 'image/png'">
            {{previewFile()}}
            <img [src]="imageURL" height="200" alt="Image preview..." *ngIf="imageURL">
            hello image
        </div>
        <div id="pdfEmbed" *ngIf="container.mediaType == 'application/pdf'">
            <!-- <img src="" height="200" alt="Image preview..." (ready)="previewFile(container)"> -->
            hello pdf
        </div>
        
        <!-- <div id="texts">
            Media Title:
            <input type="text" [(ngModel)]="this.titleAndDescriptions[i].title"/>
            Media Description:
            <input type="text" [(ngModel)]="this.titleAndDescriptions[i].description"/>
        </div> -->
    </div>
</div>
      

<input id="browse" type="file" onchange="previewFiles()" multiple>
<div id="preview"></div>

